@import "../../../ModaLib/public/stylesheets/font.css";
:root {
  --nav: #76b5ce;
  --prop: #de6563;
}
html {
  scroll-behavior: smooth !important;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #f5fbfd;
}

.list-group-item-action {
  background-color: #fafcfc !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
.section-title {
  padding-bottom: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  background-color: var(--nav);
  position: relative;
  z-index: 1;
}

footer {
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
pre {
  margin-bottom: 24px !important;
}
.sidebar {
  overflow-y: scroll;
  height: calc(100vh - 10.5rem);
}
.prop {
  color: var(--prop);
}
