@import "font.css";
:root {
  --background: #fff;
  --shadow: rgba(0, 0, 0, 0.3);
  --font: "Poppins", sans-serif;
  --font-size: 1.2rem;
  --colored-btn-text: aliceblue;
  --light-btn-text: black;
  --alert-btn-color: #bb4747;
  --confirm-btn-color: #47a386;
  --second-btn-color: gainsboro;
  --estrella-btn-color: #dda4d1;
  --sky-btn-color: #76b5ce;
  --shadow-btn-color: #222;
  --animation-duration: 0.5s;
}

* {
  box-sizing: border-box;
}
